@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&family=Plus+Jakarta+Sans:wght@500;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply h-[100%]  bg-gray-100 flex justify-center items-center m-auto font-plusJakarta;
}

html,
body,
#root {
  height: 100%;
  width: 100%;
  font-family: 'Manrope', sans-serif;
  background-color: rgb(243 244 246 / var(--tw-bg-opacity));
  display: flex;
  justify-content: center;
  align-items: center;
}
